<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="stylesheet" type="text/css" href="/css/rules.css"/>
    <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="burger-menu" id="burgerButton" onclick="toggleMenu()">&#9776;</div>
<div class="menu" id="submenu">
    <div class="menu-header">
        <button class="close-button" onclick="toggleMenu()">✖</button>
    </div>
    <button onclick="returnBack()">Повернутись</button>
</div>
<div class="rules-container">
    <h1>Правила гри</h1>
    <p><strong>1.</strong> Гра побудована на серії міні-ігр, які тривають протягом місяця (від початку до кінця поточного місяця). Гравцю надаються списки матчів з майбутніми датами, на які він може зробити свої прогнози. Список матчів на конкретну дату стає доступним за три календарні дні до їх початку, але в день початку події прогнози на них зробити вже буде неможливо. Наприклад: на дату 04.01.2025 р. список матчів стане доступним 01.01.2025 р., але о півночі 04.01.2025 р. прогнози на цей день вже не приймаються.</p>
    <p><strong>2.</strong> За кожен зроблений прогноз гравцю буде додаватись 1 бал до кількості зроблених прогнозів.</p>
    <p><strong>3.</strong> За кожен вгаданий матч гравцю буде нараховуватись 1 бал до кількості вгаданих матчів за місяць та загальної кількості вгаданих матчів за весь час.</p>
    <p><strong>4.</strong> Від загальної кількості вгаданих матчів та загальної кількості зроблених прогнозів буде вираховуватися відсоток вгаданих матчів.</p>
    <p><strong>5.</strong> Підрахунок результатів проводиться автоматично один раз на добу.</p>
    <p><strong>6.</strong> Кожного дня після підрахунку результатів всім гравцям надається місце в рейтингу, яке розраховується наступним чином:
    <ul>
        <li>найбільша кількість вгаданих матчів за весь час. Якщо є гравці з однаковою кількістю, то наступний пункт;</li>
        <li>найбільша кількість зароблених трофеїв. Якщо є гравці з однаковою кількістю, то наступний пункт;</li>
        <li>найбільша кількість вгаданих матчів за місяць. Якщо є гравці з однаковою кількістю, то їм надається одне найвище з можливих місць.</li>
    </ul>
    </p>
    <p><strong>7.</strong> Після перевірки прогнозів за останній день місяця, гравцю з найбільшою кількістю вгаданих матчів за місяць надається 1 трофей. Якщо таких гравців більше ніж один, то трофей не надається нікому. З початком змагань нового місяця, кількість вгаданих матчів за місяць обнулюється.</p>
    <h2>Доступні турніри:</h2>
    <ul>
        <li>Англійська Прем'єр-ліга;</li>
        <li>Німецька Бундесліга;</li>
        <li>Іспанська Ла Ліга;</li>
        <li>Італійська Серія А;</li>
        <li>Французька Ліга 1;</li>
        <li>Ліга Чемпіонів УЄФА;</li>
        <li>Чемпіонат Європи (збірні);</li>
        <li>Чемпіонат Світу (збірні).</li>
    </ul>
</div>

<script src="/script/rules.js"></script>
</body>
</html>

