body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#resultsContainer, #match-container {
    width: 100%;
    max-width: 600px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0;
    text-align: center;
}

h3 {
    font-size: 15px;
    margin: 5px 5px;
    color: #444;
    text-align: left;
}

h4 {
    color: #444;
    text-align: center;
}

/*.competition {*/
/*    background: rgba(255, 255, 255, 0.9);*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
/*}*/


.date-group {
    background: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#user-name{
    background: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center; /* Вирівнювання тексту по центру */
    width: 550px;
}

.match {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid #ccc;
}

.match:last-child {
    border-bottom: none;
}

.team-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.team-score:first-of-type {
    margin-bottom: 5px;
}

.team-score:last-of-type {
    margin-bottom: 0;
}

.team {
    flex: 1;
}

.score {
    font-weight: bold;
    margin-left: 20px;
}

.correct-prediction {
    background-color: rgba(212, 237, 218, 0.7);
}

.date-group {
    margin-bottom: 30px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    background-color: #42C2DF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}


button:hover {
    background-color: #3594A9;
}

.spinner {
    width: 200px;
    height: 200px;
    background-image: url("/images/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


.message {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
}

.success-message {
    background-color: rgba(212, 237, 218, 0.7);
    color: green;
}

.burger-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
}

.bar {
    height: 5px;
    width: 100%;
    background: linear-gradient(to bottom, #0057b8 50%, #ffd100 50%);
    opacity: 0.8;
}
.menu {
    display: none;
    position: fixed;
    top: 40px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    width: 200px;
    padding: 5px;
}
.menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    font-size: 16px;
    color: black;
    margin: 5px 0;
}
.menu button:hover {
    background-color: #f0f0f0;
}
.menu-header {
    position: absolute;
    top: 0;
    right: 5px;
}
.close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: black;
}
.menu-header .close-button {
    display: none;
}
.menu.open .menu-header .close-button {
    display: block;
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 800px) {
    .burger-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
        font-size: 30px;
        padding: 10px;
        border-radius: 5px;
        background: none;
    }

    #user-name{
        background: rgba(255, 255, 255, 0.9);
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        text-align: center;

    }
}
